/* geral */
body, p, h1, h2, h3, input, textarea{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

h2{
    font-size: 30px;
}

/* navbar */
#navbar{
    background-color: orange;
    color: whitesmoke;
    padding: 0 15px;
    height: 60px;
}

#navbar h1, #navbar ul, #navbar-list li, #navbar li, #navbar nav{
    display: inline-block;
}

#navbar h1{
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img{
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
}

#navbar nav{
    float: right;
}

#navbar ul{
    margin-top: 20px;
}

#navbar li{
    margin: 0 15px;
}

#navbar li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

#navbar li:hover{
    border-bottom: 3px solid whitesmoke
}

.main-banner{
    height: 60vh;
    background-image: url(../imgs/bg-projeto.jpg);
    background-size: cover;
    padding-top: 15vh;
}

.banner-info{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: whitesmoke;
}

.banner-info img{
    height: 90px;
    border-radius: 9%;
    background-color: orange;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-info p{
    background-color: orange;
    border-radius: 9px;
    font-weight: 600;
    font-size: 130%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 15px;
}

#about-section{
    text-align: center;
    background-color: orange;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 50px;
    color: whitesmoke;
    height: 60vh;
    
}

#about-section h1{
    margin-bottom: 20px;
}

#about-section p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    text-align: justify;
}

/* skills */

.skills-section{
    margin-top: -15vh;
    background-color: whitesmoke;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid orange;
    border-radius: 9px;
}

.skills-section .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container{
    flex: 1 1 1;
    text-align: center;
    padding: 60px 30px;
}

.central{
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

.skills-container h3, h4{
    color: orange;
}

.skills-container h3{
    font-size: 160%;
}

.skills-container img{
    height: 60px;
    margin-bottom: 30px;
    padding: 6px;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    border-right: 4px solid orange;
    border-bottom: 4px solid orange;
    border-radius: 6px;
}

.skills-container p{
    padding-bottom: 30px;
}

/* job */

.jobs{
    text-align: center;
    padding-top: 30px;  
}

.jobs h2{
    color: orange;
    margin-bottom: 30px;
}

.jobs p{
    margin-bottom: 30px;
}

.jobs a{
    text-decoration: none;
    font-weight: bold;
    color: orange;
}

.jobs a:hover{
    border-bottom: 2px solid orange;
}

.job-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.job-box{
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    background-size: cover;
    border-top: 3px solid orange;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    border-bottom: 3px solid orange;
    border-radius: 6px;
}

.proj1{
    background-image: url(../imgs/proj1.jpg);
}

.proj2{
    background-image: url(../imgs/proj2.jpg);
}

.proj3{
    background-image: url(../imgs/proj3.jpg);
}

/* footer */

footer{
    padding: 50px 0px;
    background-color: orange;
    color: whitesmoke;
    text-align: center;
}

footer img{
    height: 90px;
    padding: 30px 0px;
}

footer form{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

footer input, footer textarea{
    border: none;
    padding: 13px;
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 100%;
    display: block;
}

footer span{
    font-weight: bold;
}

/* responsividade - media query*/

@media(max-width: 450px){
    /* geral */
    #navbar h1{
        display: none;
    }
    #navbar-list li{
        margin: 0px;
        padding: 3px;
        padding-left: 12px;
    }
    #navbar-list ul{
        margin-top: 9rem;
    }
    .main-banner p{
        margin: 0;
        width: auto;
        height: 2em;
        padding: 0px;
    }
    #about-section{
        height: 90vh;
    }
    .skills-section{
        margin-top: 30px;
    }
    .skills-section .container{
        flex-direction: column;
    }
    .central{
        border-left: none;
        border-right: none;
        border-top: 1px solid orange;
        border-bottom: 1px solid orange;
    }
    .job-container{
        flex-direction: column;
    }
    .job-box{
        margin-top: 15px;
    }
    footer form{
        width: 290px;
    }
}